.content {
  display: flex;
  padding: 10px 15px 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paginationWrap {
  padding-bottom: 10px;
  text-align: center;
}

.filler {
  width: 130px;
  height: 0;
}

/* todo fix last line*/
/* .contentWrap:after {
  content: '';
  flex: auto;
} */

/* .loadMore {
  padding-bottom: 10px;
  text-align: center;
} */
