.container {
  height: 100vh;
  width: 100vw;
  padding-bottom: 60px;
  overflow: hidden;
}

.dragBar {
  height: 18px;
  width: 100vw;
  position: fixed;
  top: 0;
  -webkit-app-region: drag;
}

.mainWrap {
  overflow: hidden;
}
.navWrap {
  height: 40px;
  min-height: 40px;
  width: 100%;
  -webkit-app-region: drag;
}

.contentWrap {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playerWrap {
  position: fixed;
  width: 100vw;
  height: 60px;
  min-height: 60px;
  bottom: 0;
  left: 0;
}
